@model IEnumerable<DTO.PersonDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Persons</h2>

<p>
    <a href="@Url.Action("Create", "Persons")" class="btn btn-success"><i class="fa fa-fw  fa-plus-circle fa-lg"></i> Create New</a>
</p>
<table class="table table-secondary table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BirthDay)
    </td>
    <td>
        @if(item.Type == 1)
        {
            @Html.Raw("Teacher")
        }
        @if(item.Type == 2)
        {
            @Html.Raw("Student")
        }
    </td>
    <td>
        <a href="@Url.Action("Details", "Persons", new { id = item.ID })" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Details"><i class="fa fa-fw fa-info-circle"></i></a> |
        <a href="@Url.Action("Edit", "Persons", new { id = item.ID })" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="fa fa-fw fa-edit"></i></a> |
        <a href="@Url.Action("Delete", "Persons", new { id = item.ID })" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="fa fa-fw fa-trash"></i></a>
    </td>
</tr>
}

</table>
