<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University - MagniFinance Test</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link href="~/Content/Site.css" rel="stylesheet" />
    @*<script src="~/Scripts/bootstrap.js"></script>*@
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">@Html.ActionLink("University", "Index", "Home", new { area = "" }, new { @class = "" })</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="/Home">Home</a>
                        <a class="nav-link" href="/Departaments">Departaments</a>
                        <a class="nav-link" href="/Courses">Courses</a>
                        <a class="nav-link" href="/Subjects">Subjects</a>
                        <a class="nav-link" href="/Persons">Persons</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

</body>
</html>
