@model IEnumerable<DTO.DepartamentDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Departaments</h2>

<p>
    <a href="@Url.Action("Create", "Departaments")" class="btn btn-success"><i class="fa fa-fw  fa-plus-circle fa-lg"></i> Create New</a>
</p>
<table class="table table-secondary table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a href="@Url.Action("Details", "Departaments", new { id = item.ID })" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Details"><i class="fa fa-fw fa-info-circle"></i></a> |
                <a href="@Url.Action("Edit", "Departaments", new { id = item.ID })" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="fa fa-fw fa-edit"></i></a> |
                <a href="@Url.Action("Delete", "Departaments", new { id = item.ID })" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="fa fa-fw fa-trash"></i></a>
            </td>
        </tr>
    }

</table>
@Html.Partial("_Script")