@model IEnumerable<DTO.SubjectDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Subjects</h2>

<p>
    <a href="@Url.Action("Create", "Subjects")" class="btn btn-success"><i class="fa fa-fw  fa-plus-circle fa-lg"></i> Create New</a>
</p>

<input class="form-control" id="searchInput" type="text" placeholder="Filter by course...">

<table class="table table-secondary table-striped table-hover" id="tableSubject">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teacher)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr class="tr-searchable">
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td class="td-searchable">
        @Html.DisplayFor(modelItem => item.Course.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Teacher.Person.Name)
    </td>
    <td>
        <a href="@Url.Action("Details", "Subjects", new { id = item.ID })" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Details"><i class="fa fa-fw fa-info-circle"></i></a> |
        <a href="@Url.Action("Edit", "Subjects", new { id = item.ID })" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="fa fa-fw fa-edit"></i></a> |
        <a href="@Url.Action("Delete", "Subjects", new { id = item.ID })" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="fa fa-fw fa-trash"></i></a>
    </td>
</tr>
    }

</table>
@Html.Partial("_Script")